*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/

*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.opensdf
*.sdf
*.sln
*.vcxproj
*.filters
*.ipch
*.cmake
*.bin
*.stamp
*.depend
CMakefiles/